body {
    font-family: Segoe UI;
    background:#f8f9fa;
    margin:20px;
}

header {
    background:#b22222;
    color:white;
    padding:15px 20px;
    border-radius:6px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header a {
    background:white;
    color:#b22222;
    padding:8px 12px;
    border-radius:4px;
    text-decoration:none;
    font-weight:bold;
}

header a:hover {
    background:#b22222;
    color:white;
}

table {
    width:100%;
    border-collapse:collapse;
    background:white;
    margin-top:20px;
}

th,td {
    border:1px solid #ddd;
    padding:10px;
}

th {
    background:#f0f0f0;
}

.available { background:#d4edda; }
.deployed { background:#fff3cd; }
.restock { background:#f8d7da; }

.is-invalid {
    border:2px solid #dc3545;
}

.error-text {
    color:#dc3545;
    font-size:12px;
}

input,textarea,select {
    width:300px;
    padding:5px;
    margin-bottom:10px;
}
